.App{
 width:1000px;
    height:auto;
    margin-right: 300px;
    position:absolute;
}
.Full-box{
    background: url('videos/ram.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:96%;
    margin-left: 30px;
    height: 93vh;
  
}

#time{
   font-size: 20px;
    color:yellow;
   -webkit-text-stroke: 0.5px black;
    
}
.twitter-icon{
    background-color: rgb(0, 102, 255);
    color:white;
    text-decoration: none;
    border:4px;
    padding: 2px 3px;
    font-size: 13px;
    font-family: 'Chivo', sans-serif;
    
}
#demo{
    color:black;
    font-size: 20px;
}
.share-buttons{
    display: flex;
    justify-content: space-around;
   
    width:13%;
   
}
.share-buttons1{
    margin-top: 21%; 
  font-size: 25px;  
}
@media(max-width:768px){
.Full-box{
    width:100%;
    height: 93%;
   position: absolute;
   left:1;
   right:0;
}
.share-buttons{
    width:70px;
    display: flex;
    justify-content: space-around;
}

.share-buttons1{
    margin-top: 65%;
   
}
.icon{
    margin-left: 10px;
}
body{
    background:linear-gradient(105deg,rgb(221, 65, 18) ,rgb(44, 1, 1));
}
}