body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  font-weight: 500;
  -webkit-text-stroke: 0.1px black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(345deg,rgb(221, 65, 18) ,rgb(44, 1, 1));
  color:white;
  font-weight: 800;
 
 text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


